<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.db.tests.RetrieveSuppliersData"/>
      <class name="com.db.tests.RetrieveOrdersData"/>
      <class name="com.db.tests.RetrieveEmployeeData"/>
      <class name="com.db.tests.RetrieveCustomerData"/>
      <class name="com.db.tests.RetrieveOrderDetailsData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
